
<div class="sticky-bar">
  <div class="col s1 mynav">
    <br>
    <a href="/"><span class="home-button"><i class="material-icons">home</i></a></span><br><br>
    <!-- Grey navigation panel -->
    <div class="languages">
      <a href="/language/html" class="btn-floating btn-large waves-effect waves-light red top tooltipped space" data-position="right" data-delay="50" data-tooltip="HTML"><i class="medium material-icons top"><img src="/img/html-icon.png"></i></a>
      <a href="/language/css" class="btn-floating btn-large waves-effect waves-light red top tooltipped space" data-position="right" data-delay="50" data-tooltip="CSS"><i class="medium material-icons top"><img src="/img/css-icon.png"></i></a>
      <a href="/language/javascript" class="btn-floating btn-large waves-effect waves-light red top tooltipped space space2" data-position="right" data-delay="50" data-tooltip="Javascript"><i class="medium material-icons top"><img src="/img/js-icon.png"></i></a>
      <a href="/language/ruby" class="btn-floating btn-large waves-effect waves-light red top tooltipped space" data-position="right" data-delay="50" data-tooltip="Ruby"><i class="medium material-icons top"><img src="/img/ruby-icon.png"></i></a>
      <a href="/language/favorites" class="btn-floating btn-large waves-effect waves-light red top tooltipped space" data-position="right" data-delay="50" data-tooltip="Favorites "><i class="medium material-icons top">star</i></a>
      <a href="/language/uncategorized" class="btn-floating btn-large waves-effect waves-light red top tooltipped space" data-position="right" data-delay="50" data-tooltip="Uncategorized"><i class="medium material-icons top">album</i></a>
    </div>
  </div>

  <div class="col s3 myfolders">
    <br>
    <center>
      <div class="chip">
        <a href="#settings" class="modal-trigger"><img src="<%= current_github_avatar %>" alt="Contact Person"><%= current_github_username %><span class="settings-icon"><i class="material-icons">settings</i></a></span>
      </div>
    </center>
  <br>
    <center><span class="language-title"><%= $language.upcase() %></span></center><br>
    <ul class="collapsible" data-collapsible="accordion">
      <% if @folders.any?() %>
        <% @folders.each() do |folder| %>
          <li>
            <div class="collapsible-header blue-grey lighten-4">
              <i class="material-icons">web</i><%= folder.name %>
              <span class="edit-folder"><a href="/folder/<%= folder.id %>"><i class="material-icons">mode_edit</i></a></span>
            </div>
            <% if folder.snippets.any?() %>
              <% folder.snippets.each() do |snippet| %>
                <div class="collapsible-body blue-grey lighten-3">
                  <div class="collapsible-header blue-grey lighten-4">
                    <a href="/snippet/<%= snippet.id %>"><i class="material-icons">code</i><%= snippet.title %><a href="/snippet/<%= snippet.id %>/edit"><i class="material-icons">mode_edit</i></a></a>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="collapsible-body blue-grey lighten-3">
                <div class="collapsible-header blue-grey lighten-4">
                  <span><i class="material-icons">not_interested</i>No Snippet</span>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <div class="collapsible-header blue-grey lighten-4 "><i class="material-icons">not_interested</i>No Folders</div>
      <% end %>
    </ul>
  </div>
</div>

<div id="settings"class="modal modal-form newSettings">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col s12">
          <button type="button" class="modal-close waves-effect waves-light btn right darkblue">x</button>
          <h4><b><span class="darkblue-text">Settings</span></b></h4>
        </div>
      </div>
    </div>
    <center>
      <div class="chip">
        <img src="<%= current_github_avatar %>" alt="Contact Person">
        <%= current_github_username %>
      </div><br><br>
      <div class="lightblue-text" id="settings-link-color">
          <h5><a href="/">Home</a></h5>
          <h5><a href="https://www.github.com/<%= current_github_username %>">Your Profile</a></h5>
          <h5><a href="https://github.com/settings/profile">Edit Profile</a></h5>
          <h5><a href="https://www.github.com/<%= current_github_username %>">Github</a></h5>
          <h5><a href="https://gist.github.com/">Gist</a></h5><br>
      </div>  <!-- left align end -->
      <a href="#" id="logout" class="waves-effect waves-light btn lightblue" onclick="logout()">Logout</a>
    </center>
  </div>
</div>

<script type="text/javascript">
  function logout() {
    var win = window.open('http://github.com/logout', 'logout','width=400,height=350,scrollbars=no');
    var timer = setInterval(function() {
    if(win.closed) {
        clearInterval(timer);
        window.location = "http://localhost:4567/logout";
                    }
  }, 1000);
  }
</script>
