Title: <%= @snippet.title %><br>
Description: <%= @snippet.description %><br>
Tags: <%= @snippet.tags %><br>
language: <%= @snippet.language %><br><br>

<a href="/snippet/<%= @snippet.id %>/eidt"><button type="button" class="btn green">Update</button></a>
